.home-container {
    img{
        height: 350px;
        border-radius: 50%;
    }

    span {
        font-family:cursive;
        font-size: 20px;
        color: #2767df;
    }

    h1{
        font-size: 100px;
    }
}

