.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px brown;
    position: sticky; /* Sticks to the viewport */
    top: 0; /* Locks it to the top */
    z-index: 1000; /* Ensures it stays above other content */

    .logo{

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70px;
            width: 70px;
            border-radius: 50px;
        }
    }

    .links {
        display: flex;
    
        .nav-link {
            margin-left: 25px;
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 15px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 5px;
            transition: background 0.3s ease;
        }
    }

    a {
        text-decoration: none;
    }

}


.nav-link:hover {
    background-color: #45a049;
}



